In [1]:
import pandas as pd
import numpy as np

fpath = "./demo.csv"
rating = pd.read_csv(fpath)
print(rating.head())
# 读取csv

ModuleNotFoundError: No module named 'pandas'

In [32]:
import pymysql
import pandas as pd

conn = pymysql.connect(
    host='localhost', user='root', password='chaoshen666666', db='sys', charset='utf8'
)
mysql_page = pd.read_sql('select * from sys_config', con=conn)
print(mysql_page.shape)
# 读取mysql

(6, 4)

C:\Users\Miracle\AppData\Local\Temp\ipykernel_24156\4027259008.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mysql_page = pd.read_sql('select * from sys_config', con=conn)

In [ ]:
pd.Series([1, 2, 3, 4, 5])
# 默认索引为0-n

In [ ]:
pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
# 索引可以手动指定

In [36]:
# 通过字典创建
ser = pd.Series({'a': 1, 'b': 2, 'c': 3})
ser[['b', 'c']]

b    2
c    3
dtype: int64

In [3]:
data = {
    'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
    'year': [2000, 2001, 2002, 2001, 2002],
    'pop': [1.5, 1.7, 3.6, 2.4, 2.9]
}
df=pd.DataFrame(data)
# 可以查询一行，一列，多行多列
# 一行一列返回值为Series,多行多列返回值为DataFrame
df['year']
df[['year','pop']]

   year  pop
0  2000  1.5
1  2001  1.7
2  2002  3.6
3  2001  2.4
4  2002  2.9

In [30]:
import pandas as pd

# 读取Excel文件到DataFrame
df = pd.read_excel('demo.xlsx')

# 使用 iloc 方法访问第一行数据
first_row = df.iloc[0]
second_row = df.iloc[1]

print("第一行数据:")
print(first_row)

print("\n第二行数据:")
print(second_row)

第一行数据:
年龄              1
学号            100
Unnamed: 2    NaN
Unnamed: 3    NaN
Unnamed: 4    NaN
Unnamed: 5    NaN
Unnamed: 6    NaN
Unnamed: 7    NaN
Name: 0, dtype: object

第二行数据:
年龄              2
学号            102
Unnamed: 2    NaN
Unnamed: 3    NaN
Unnamed: 4    NaN
Unnamed: 5    NaN
Unnamed: 6    NaN
Unnamed: 7    NaN
Name: 1, dtype: object